[*.cs]
dotnet_diagnostic.IDE0055.severity = none
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.CA1515.severity = none
dotnet_diagnostic.IDE0007.severity = none
dotnet_diagnostic.IDE0039.severity = none
dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.IDE0053.severity = none
dotnet_diagnostic.IDE0005.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.CA1825.severity = none
dotnet_diagnostic.CA1847.severity = none
dotnet_diagnostic.CA1849.severity = none
dotnet_diagnostic.CA2201.severity = none
dotnet_diagnostic.CS0219.severity = none
dotnet_diagnostic.CS8604.severity = none
dotnet_diagnostic.CS1643.severity = none
dotnet_diagnostic.CS0029.severity = none
dotnet_diagnostic.CS1662.severity = none
dotnet_diagnostic.CS0176.severity = none
